.container {
  margin: 0 auto;
  padding: 0;
}

body {
  background-repeat: space;
  background-size: cover;
  background-blend-mode: color;
}

.container-content {
  max-width: 60em;
  padding: 0 1em;
}

#cont {
  display: flex;
  justify-content: space-evenly;
}

#testBox {
  width: 100%;
  font-size: 3vmin;
  padding: 1vw;
  text-align: center;
  word-break: normal;
  display: flex;
  align-items: center;

  right: 0;
  justify-content: space-evenly;
  margin-left: auto;
}
#testBox1 {
  width: 100%;
  font-size: 4vmin;
  color: white;

  text-align: center;
  word-break: normal;
  display: flex;
  right: 0;
  margin-left: auto;
}

#contain {
  display: block;
  justify-content: flex-end;
  width: 80%;
  background-size: 100%;
  background-blend-mode: soft-light;

  background-repeat: no-repeat;
  margin-left: auto;
}

#todaynation {
  display: contents;
}

#country {
  color: rgb(255, 255, 255);
  text-align: center;
}

#sidehead {
  margin: 0;
  font-size: 4vmin;
  font-weight: 700;
}

#head {
  font-size: 3vmin;
  font-weight: 600;
  display: contents;
}

#country {
  margin: auto;
  align-self: center;
}
#head,
#todaynation,
#todaycase {
  text-align: center;
}
#todaynation,
#todaycase {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
}

#myChart {
  width: 20vw;
}

#container2 {
  float: left;
  width: 20%;
  color: white;
  border-radius: 1vw;
  border-top-right-radius: 0vw;
  border-bottom-right-radius: 0vw;
  overflow-y: scroll;
  border-bottom-left-radius: 0vw;
  height: 50vh;
  border: 1px solid #022b61;
  box-shadow: 0px -10px 9px -4px rgba(0, 36, 112, 0.78);
  padding: 1vw;
}
#chartcont {
  float: right;
  width: 80%;
  color: white;
  border-radius: 1vw;
  border-top-left-radius: 0vw;
  border-top-right-radius: 0vw;
  border-bottom-right-radius: 0vw;
  border-bottom-left-radius: 0vw;
  height: 50vh;
  border: 1px solid #022b61;
  box-shadow: 0px -1px 9px -4px rgba(0, 36, 112, 0.78);
  padding: 1vw;
  font-size: calc(0.25em + 1vmin);
}
#chartcont2 {
  float: right;
  width: 80%;
  color: white;
  border-radius: 1vw;
  border-top-left-radius: 0vw;
  border-top-right-radius: 0vw;
  border-bottom-right-radius: 0vw;
  height: 50vh;
  font-size: calc(0.25em + 1vmin);
  border: 1px solid #022b61;
  box-shadow: 0px -1px 9px -4px rgba(0, 36, 112, 0.78);
  padding: 1vw;
}
#container1 {
  font-weight: 500;
  font-family: monospace;
  font-size: calc(0.75em + 1vmin);
}

#about {
  color: white;
}

#container3 {
  float: left;
  width: 20%;
  color: white;
  border-radius: 1vw;
  border-top-right-radius: 0vw;
  border-top-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
  border-bottom-left-radius: 0vw;
  padding: 2vw;
  overflow-y: scroll;
  height: 50vh;
  padding: 1vw;
  border: 1px solid #022b61;
  box-shadow: 0px -10px 9px -4px rgba(0, 36, 112, 0.78);
}

#container4 {
  float: left;
  color: white;
  border-radius: 1vw;
  border-top-right-radius: 0vw;
  border-top-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
  border-bottom-left-radius: 0vw;
  text-align: center;
  padding: 1vw;
  width: 100%;
  border: 1px solid #022b61;
  box-shadow: 0px -10px 9px -4px rgba(0, 36, 112, 0.78);
  font-size: calc(0.75em + 1vmin);
}
#container6 {
  color: white;
  border-radius: 1vw;
  float: left;
  border-top-right-radius: 0vw;
  border-top-left-radius: 0vw;
  border-bottom-right-radius: 0vw;
  width: 100%;
  text-align: center;
  font-size: calc(0.75em + 1vmin);
  border: 1px solid #022b61;
  box-shadow: 0px -10px 9px -4px rgba(0, 36, 112, 0.78);
}

#deaths,
#tests,
#hidt,
#hidd {
  color: white;
  text-align: center;
}

#chartext {
  text-align: center;
}

#texthold2 {
  width: 80%;
  float: right;
  color: white;
}

#sider {
  float: left;
  flex-flow: column;
  display: flex;
  align-items: center;
  text-align: center;
}

#head1 {
  color: white;
}

#sider2 {
  float: left;
  width: 20%;
  flex-flow: column;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  text-align: center;
}
#sider3 {
  float: left;

  flex-flow: column;
  display: flex;
  align-items: center;
  text-align: center;
}
#totald,
#totalc,
#totalr,
#totalt {
  color: rgb(1, 15, 36);
  font-weight: 600;
}

#deat {
  font-size: calc(0.75em + 1vmin);
  font-weight: 500;
  font-family: monospace;
  stroke-width: 2vw;
  stroke: yellow;
}

#cardIn {
  width: 50%;
}

#cardcon {
  display: inline-flex;
  flex-flow: wrap;
  width: 80%;
}
#cardhed {
  display: inline-flex;
  flex-flow: wrap;
  width: 80%;
}

#bottomcont {
  display: flex;
  word-break: break-word;
  background-color: white;
  justify-content: space-between;
  padding: 1vw;

  border-top: 2px solid rgb(1, 15, 36);
  font-size: calc(0.25em + 1vmin);
}

.list-group {
  background-color: none !important;
}

.listi {
  background-color: transparent;
}

.listg {
  background-color: transparent;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #4726ff 0%, #a216ff 100%);
  animation: spin 1.2s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#alert {
  text-align: center;
  color: #2f78ff;
}

#texthold {
  display: none;
  -webkit-animation: display-none-transition 1s;
  animation: display-none-transition 1s;
}
@-webkit-keyframes display-none-transition {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
@keyframes display-none-transition {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

a {
  color: rgb(255, 255, 255);
  text-decoration: dashed;
}

#chart {
  display: inline-flex;
  float: left;
}

.recharts-tooltip-wrapper {
  color: rgba(21, 142, 255, 0.541);
}

#contains {
  float: left;
  width: 20%;
  display: inline;
  font-size: 1vmin;
}
