.map {
  position: relative;
  width: 80%;
  float: right;

  &,
  .map-base {
    background: rgb(249, 251, 255);
    height: 2vw;
  }
}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $blue-grey-200;
  font-family: $font-default;

  text-align: center;
  margin: auto;
}
.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: 0.7em;
  font-weight: bold;
  background-color: rgb(1, 15, 36);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(rgb(7, 31, 109), 0.9);

  &:hover {
    .icon-marker-tooltip {
      display: block;
    }
  }
}
#myChart {
  width: 10vw;
}
.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: white;
  border-radius: 0.4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, 0.9);

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    color: rgb(1, 15, 36);
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    color: rgb(1, 15, 36);
    margin: 0.1em 0;
    font-weight: normal;
    color: $blue-grey-100;
  }

  ul,
  p {
    font-weight: normal;
    color: rgb(1, 15, 36);
  }

  ul {
    list-style: none;
    color: rgb(1, 15, 36);
    padding: 0;
    margin: 0.6em 0 0;
  }
}
